<div class="fourier-series-wave-editor">
	<dl class="label-value">
		<dt>Number of Fourier series terms</dt>
		<dd>
			<div class="fourier-series-terms-count-slider"></div>
			<span class="fourier-series-terms-count">{{termsCount}}</span>
		</dd>
	</dl>
</div>
